.Container {
  display: grid;
}

.Content, .Overlay {
  grid-area: 1 / 1;
}

.Overlay {
  user-select: none;
  pointer-events: none;
}

.Canvas {
  width: 100%;
  height: 100%;
}

.Board {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(10, 60px);
}

.Cell {
  width: 60px;
  height: 60px;
  font-weight: bold;
  font-size: x-large;
  font-family: monospace;
  padding: 15px;
  background: ghostwhite;
  text-align: center;
  border: 5px solid #e5e5ea;
  border-radius: 100%;
  color: brown;
  cursor: pointer;

  &:focus, &:hover {
    border-color: #8b8be5;
    outline: none;
  }
}
